@use '../../../styles/main';

.Header {
  height: 80px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  font-size: 22px;
  gap: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.title {
  font-weight: bold;
  color: var(--current-color);
  flex-shrink: 0;
}

.menuWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
