@use '../../../styles/main';

.Footer {
  height: 80px;
  background-color: var(--background3);
  color: var(--color2);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 main.$webSidePadding;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}
