.StudentDetail {
  .info {
    margin-top: 20px;
  }

  .row {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-border);

    &:last-child {
      border-bottom: none;
    }
  }

  .label {
    font-weight: bold;
    color: var(--color-text-secondary);
  }

  .value {
    color: var(--color-text);
  }
}

