.StudentDetail {
  .info {
    margin-top: 30px;
    background-color: var(--background2);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .row {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-border);

    &:last-child {
      border-bottom: none;
    }
  }

  .label {
    font-weight: 600;
    color: var(--color-text-secondary);
  }

  .value {
    color: var(--color-text);
    font-weight: 500;
  }
}

